# --- Gradle ---
.gradle/*
**/build/
!src/**/build.gradle
!src/**/settings.gradle
!build.gradle
!settings.gradle
!gradle.properties
# Optional: ignore Gradle problem reports and logs explicitly
build/reports/
build/tmp/

# Gradle local cache files
**/gradle-app.setting
**/gradle/wrapper/gradle-wrapper.properties
**/gradle/wrapper/gradle-wrapper.jar

# Forge run directories (local dev worlds, logs, etc.)
**/run/
**/run-data/

# Cached files
.cache/
__pycache__/

# Generated resources (datagen)
src/generated/
src/generated/**

# Logs
*.log
logs/

# Java junk
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# IDEs / Editors
# IntelliJ
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Environment files
.venv38
.venv38.local
.venv38.*.local

# Testing files
tests